 <!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
<!--       <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner">
        <div class="item active">
          <img alt: "Pathway to Sustainability" title: "Pathway to Sustainability" class='img-landing'></img>
          <div class="container">
            <div class="carousel-caption">
              <div class="table-responsive">
                <table class="table table-recycle">
                  <!-- On rows -->
                  <tr >
                    <td colspan=4>Today's Recycles</td>
                  </tr>
                  <% Greenbean.all.each do |g| %>
                  <tr>
                    <td ><%= g.name %></td>
                    <td >
                      recycled
                    </td>
                    <td class="image"><%= image_tag("#{g.image_url}") %></td>
                    <td>at Cleanweb Hackathon.</td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
      </div>
  </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="second-section">
      <div class="container marketing">

       <!-- Three columns of text below the carousel -->
        <div class="row featurette how-it-works">
          <div class="col-lg-4">
            <i class="fa fa-glass"></i>
            <h2>1 - Recycle Starbucks Cup</h2>
            <p>Bring it to our bin</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <i class="fa fa-check-square-o"></i>
            <h2>2 - Check Online</h2>
            <p>See how much you have recycled</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4"> 
            <i class="fa fa-gift"></i> 
            <h2>3 - Get Rewards!</h2>
            <p>See what deals you get</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
    </div>
