<div class="container perks">
  <div class="container-fluid">
    <div class="row">
      <div class="perks-heading">
        <h1>All Lunch Groups for 04/04/2014</h1>
        <div class="dotted-line"></div>
      </div>
      <div class="col-md-12 content">
        <div class="row thumbnails">
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("dguru.jpg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3><b>DGuru<b/></h3>
                <h5>jlau@visiblemeasures.com</h5>
                <h5>mmao@visiblemeasures.com</h5>
                <h5>tnguyen@visiblemeasures.com</h5>
                <h5>parnold@visiblemeasures.com</h5>
              </div>
            </div>
          </div>
           <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="perk-image-container">
                <%= image_tag("dumpling.jpeg", :class=>'img-responsive featurette-image') %>
              </div>
              <div class="caption">
                <h3><b>Dumpling House</b></h3>
                <h5>mscott@visiblemeasures.com</h5>
                <h5>dseidel@visiblemeasures.com</h5>
                <h5>bshin@visiblemeasures.com</h5>
                <h5>jblewitt@visiblemeasures.com</h5>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

